.Applications {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    background-color: #F1F1F1;
    box-shadow: 0 5px 5px gray;
  }

  .Application {
    width: 200px;
    flex: 0 0 23%;
    background-color: lightblue;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }

  h1{
    text-align: center;
  }
