* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

.container{
    width: 400px;
    padding: 30px;
    box-shadow: 0 2px 5px gray;
    margin-top: 50px;
    margin-bottom: 50px;  
    }    
.table{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 5px 5px gray;
    padding: 10px;
    }
        
h1,h3{
    text-align: center;
    margin-bottom: 30px;
    
    }
    
input[type="text"],input[type="number"]{
    width: 330px;
    padding: 10px ;
    margin-bottom: 10px ;
    }
    
#Submit{
    width: 100%;
    background-color: yellow;
    padding: 10px 20px;
    margin-top:  10px;
    }
a{
    text-decoration: none;
}
    
    
    
    